body {
	background: #eee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-header {
	height: 60px;
	background-color: black;
	width: 100%;

}

.app-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: stretch;
	min-height: 1000px;
	height: 100%;

	.app-nav {
		width: 100px;
		background-color: blue;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;

		.nav-item {
			height: 60px;
			background-color: coral;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&.active {
				background-color: red;
			}

			&:hover {
				background-color: yellow;
			}
		}
	}

	.main-content {
		background-color: gray;
		flex: 1;

		.screen {
			margin: 10px;
		}
	}
}